.text {
    color: black; 
    font-size:75px; 
    justify-content: center;  
    align-self: center;
  } 

.home {
    display: flex; 
    justify-content: center; 
    flex-direction: column;
  } 
