.text {
    color: black; 
    font-size:75px; 
    justify-content: center;  
    align-self: center;
  } 

  .container {
    display: flex; 
    justify-content: center; 
    flex-direction: column;
  } 

  
.loginField {
    width: auto; 
    padding: 5px; 
    margin: auto;  
    margin-bottom: 10px; 
    border-radius: 10px; 
    font-size: x-large;

}    

.loginButton 
{
  color: white;
  justify-content: center;
  display: flex;
  background-color: goldenrod;
  border-radius: 12px;
  font-size: 32px;
  align-items: center;
  align-self: center;
  flex-direction: column;
  padding: 14px 42px;
  margin-top: 20px; 
  margin-bottom: 20px;
  border-color: transparent; 
} 

.loginButton:hover 
{
  cursor: pointer;
}

.loginButton:active 
{
  background-color: gray; 
  color: black;
}

.regButton 
{
  color: black;
  justify-content: center;
  display: flex;
  background-color: transparent;
  border-radius: 12px;
  font-size: 24px;
  align-items: center;
  align-self: center;
  flex-direction: column;
  padding: 14px 42px;
  margin-top: 20px; 
  margin-bottom: 20px;
  border-color: transparent; 
}  


.regButton:hover 
{
  color: blue;
  cursor: pointer;
 
}

