html, 
body, 
#background { 
  width: 100vw;
  min-height: 100vh;
  background-color: #bcbcbc ;  
 
}
.text {
    color: black; 
    font-size:75px; 
    justify-content: center;  
    align-self: center;
  } 

  .container {
    display: flex; 
    justify-content: center; 
    flex-direction: column;
  } 

  
.loginField {
    width: auto; 
    padding: 5px; 
    margin: auto;  
    margin-bottom: 10px; 
    border-radius: 10px;

}   

